hr {
    width:50%;
    height:2px;
    background-color: lightpink;
    color: lightpink;
}

table {
    margin-left: 30%;
    margin-right: 30%;
}

img {
    width: 70%;
    height: 70%;
}

.title {
    text-align: center;
    font-weight: bold;
}